body {
  background-color: rgb(20, 18, 18);
  color: #fff;
}

.head {
  font-size: 60px;
  font: 'Fredoka', sans-serif;
}

.App {
  text-align: center;
}

#btn1 {
  background-color: #F95738;
  color: #fff;
}

#teskline {
  border-left: #F95738 5px solid;
}

.input1 {
  width: 100%;
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #21212B;
  color: #fff;
  outline: none;
}

/* .input {
  flex: 1;
  padding: 12px;
  border: 0;
  border-radius: 6px;
  background: var(--background-light);
} */
.taskBg {
  background-color: #21212B;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #F95738;
  border: 1px solid #F95738;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #00ff89;
}

.taskBg .iconsWrap span:hover {
  color: yellow;
}

.mr-20 {
  margin-right: 20px;
}